.UserMenu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.UserMenu .Logout {
  text-decoration: none;
  color: red;
  padding-left: 16px;
}

.UserMenu .Logout:hover {
  text-shadow: 0px 0px 5px red;
}

.UserMenu .Logout:active {
  font-size: 34px;
}
