.ChangeEmail {
  box-sizing: border-box;
  border-right: 3px solid aqua;
  border-bottom: 3px solid aqua;
  height: 500px;
}

.ChangeEmail > form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ChangeEmail > form > input {
  width: 300px;
  height: 25px;
  margin-bottom: 16px;
}

.ChangeEmail > form > button {
  border: 1px solid transparent;
  border-radius: 8px;
  font-size: 24px;
  background-color: rgb(112, 202, 112);
}

.ChangeEmail > form > button:hover {
  background-color: rgb(76, 203, 76);
}

.ChangeEmail > form > button:active {
  font-weight: bold;
}

.ChangeEmail .ErrorMessage {
  color: red;
}

@media screen and (max-width: 600px) {
  .ChangeEmail {
    border: 0;
  }
}
