html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Layout {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  margin: auto;
  gap: 16px;
}

.Main1 {
  flex: 2;
  background-color: white;
  padding: 16px;
}

.Main2 {
  flex: 1;
  background-color: rgb(43, 163, 163);
  padding: 16px;
}

@media screen and (max-width: 600px) {
  .Main2 {
    display: none;
  }
}
