.LoginMessage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.LoginMessage span {
  padding-top: 50%;
  color: white;
  font-size: 50px;
}

.LoginMessage p {
  color: white;
  text-align: center;
}

.LoginMessage button {
  padding: 16px;
  width: 250px;
  background-color: white;
  border: 0;
  border-radius: 8px;
}

.LoginMessage button:hover {
  font-weight: bold;
}
